body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240,240,240);
}

.placeHolderText {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

@media (min-width: 769px) {
  p {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  p {
    font-size: .5em;
  }
}
