
@media (min-width: 769px) {
  p, h2, li {
    font-size: 1.25em;
  }
}
@media (max-width: 768px) {
  p, h2, li {
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  p, h2, li {
    font-size: .75em;
  }
}
